@media (max-width: 1400px) {
  .info-block-2 .info-content {
    padding-left: 500px;
  }

  .info-block-5 {
    padding-left: 472px;
  }
}

@media (min-width: 1221px) {
  .specialists .dropdown-firststyle {
    display: none !important;
  }

  .swiper-pagination-specialists {
    display: none;
  }
}

@media (max-width: 1220px) {
  .wrapper-container-signin .main-content {
    min-height: unset;
  }

  .wrapper-container-signin {
    min-height: unset;
  }

  .wrapper-container-signin footer .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .history {
    margin-bottom: 0 !important;
  }

  .sertificates-normal {
    margin-bottom: 70px;
  }

  .sertificates-normal .title {
    font-size: 28px;
    margin-bottom: 11px;
  }

  .mySwiperSpecialists {
    padding-bottom: 38px !important;
  }

  .wrapper {
    padding: 0 50px;
  }

  header {
    justify-content: space-between;
  }

  .desktop-header {
    display: none !important;
  }

  .header_login_btn {
    font-size: 13px;
    padding: 8px 20px 9px 21px;
    width: 72.391px;
    height: 32px;
    margin-right: 15px;
    margin-top: 12px;
  }

  .header_menu_btn {
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 0 0;
  }

  .header_menu_btn img {
    margin: 0 !important;
  }

  .header_logo {
    width: calc(170px - 40px);
  }

  .mobile-header {
    display: flex !important;
  }

  .hero .footer .arrow {
    top: 112px;
    right: -86px;
    transform: rotate(6deg);
  }

  .hero-text.desktop {
    display: none;
  }

  .hero-text-mobile {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .hero .wrapper {
    flex-direction: column;
  }

  .hero {
    padding-top: 97px;
  }

  .hero-text-mobile .mobile-steps {
    font-size: 15px;
  }

  .specialist-img {
    width: 280.226px;
    height: 402.524px;
  }

  .specialist-round {
    top: 36px !important;
    left: -59px !important;
    width: 164.5px !important;
    height: 164.5px !important;
  }

  .specialist-wrapper {
    margin: 0 auto;
  }

  .hero .select_specialist {
    display: block;
    width: 320px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(90deg,
        #58a4c3 0%,
        #97cce1 53.96%,
        #5ca5c5 100%);
    color: #fff;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    position: relative;
    transform-style: preserve-3d;
    margin: -5px auto 0;
    z-index: 10;
  }

  .hero .select_specialist::before {
    content: "";
    position: absolute;
    display: block;
    width: 320px;
    height: 75px;
    flex-shrink: 0;
    left: 0;
    border-radius: 10px;
    background: #4e869f;
    top: 13px;
    transform: translateZ(-1px);
  }

  .hero .select_specialist img {
    position: absolute;
    left: -27px;
  }

  .hero {
    padding-bottom: 215px;
  }

  .home-content {
    margin-top: -111px;
  }

  .statistics .statistics-cards .divider {
    display: none;
  }

  .statistics .statistics-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 320px;
    margin: 0 auto 70px;
    padding: 0 5px 0 20px;
    position: relative;
  }

  .statistics .statistics-cards::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 220px;
    background: linear-gradient(0,
        rgba(162, 162, 162, 0) 0%,
        #a2a2a2 50%,
        rgba(162, 162, 162, 0) 100%);
  }

  .statistics .statistics-cards::after {
    content: "";
    display: block;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 1px;
    height: 220px;
    background: linear-gradient(0,
        rgba(162, 162, 162, 0) 0%,
        #a2a2a2 50%,
        rgba(162, 162, 162, 0) 100%);
  }

  .statistics .statistics-cards .statistics-card {
    margin: 0;
  }

  .statistics .statistics-cards .statistics-card:nth-child(1) {
    margin-right: 14px;
  }

  .statistics .statistics-cards .statistics-card:nth-child(1),
  .statistics .statistics-cards .statistics-card.clients {
    padding-top: 21px !important;
  }

  .statistics .statistics-cards .statistics-card.clients {
    margin-left: 20px;
  }

  .statistics .statistics-cards .statistics-card .icon {
    margin-right: 12px;
  }

  .statistics .statistics-cards .statistics-card.spec,
  .statistics .statistics-cards .statistics-card.security {
    padding-top: 15px;
  }

  .statistics .statistics-cards .statistics-card.spec {
    margin-right: 31px;
  }

  .statistics .statistics-cards .statistics-card.security {
    margin-left: 20px;
  }

  .statistics .statistics-cards .statistics-card .title {
    color: #212121;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 143%;
    /* 35.75px */
  }

  .statistics .statistics-cards .statistics-card .text {
    color: #353535;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 16.9px */
    margin: 0 0 15px;
  }

  .help-list {
    padding: 0 !important;
  }

  .help-list .title {
    color: #212121;
    text-align: center;
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 33.6px */
    margin-bottom: 20px;
  }

  .help-list .title .num {
    font-size: 35px;
  }

  .help-list .help-card {
    color: #353535;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 15.6px */
  }

  .help-list .help-card .photo {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #a5a5a5;
    margin-right: 20px;
  }

  .help-list .help-card .photo div {
    width: 23px;
    height: 23px;
  }

  .form .manager-card {
    display: none;
  }

  .form {
    justify-content: center;
  }

  .form .title,
  .form .subtitle {
    text-align: center;
    justify-content: center;
  }

  .form .subtitle img {
    display: none;
  }

  .info-block-2 .info-content.desktop {
    display: none !important;
  }

  .info-block-2 .info-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-block-2 .info-content-mobile .title {
    color: #212121;
    text-align: center;
    font-family: Raleway;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 33.6px */
    margin-bottom: 376px;
  }

  .info-block-2 .quote-wrapper {
    padding: 31px 32px 26px 25px;
    border-radius: 10px;
    max-width: 320px;
  }

  .info-block-2 .quote-title {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .info-block-2 .divider {
    width: 60px;
    margin-bottom: 10px;
  }

  .info-block-2 .name {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .info-block-2 .desrc {
    font-size: 12px;
  }

  .info-block-2 .expert {
    width: 308.312px;
    height: 396px;
  }

  .info-block-2 {
    background: url(../img/info-block-2.png) left/contain no-repeat;
    background-size: 492px;
    background-position-y: 330px;
    background-position-x: -57px;
    margin-bottom: 70px;
  }

  .info-block-2 {
    padding: 164px 0 0;
  }

  .info-block-2 .expert {
    width: 708.495px;
    height: 910px;
    position: absolute;
    left: 50%;
    bottom: 446px;
    background: url(../img/info-block-expert.png) center/cover no-repeat;
    transform: translateX(-50%);
    width: 308.312px;
    height: 396px;
  }

  .info-content-mobile .dots {
    height: 8px;
    margin: 0 auto 40px;
  }

  .info-block-3 .title {
    font-size: 28px;
    width: 288px;
    margin: 0 auto 10px;
  }

  .info-block-3 .subtitle {
    font-size: 16px;
    width: 288px;
    margin: 0 auto 30px;
  }

  .info-block-3 .info-cards {
    grid-template-columns: 1fr;
    padding: 0 50px;
  }

  .info-block-3 .info-card-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .info-block-3 .info-card-descr {
    font-size: 13px;
    padding-left: 30px;
  }

  .info-block-3 .info-card-descr::before {
    width: 20px;
  }

  .info-block-3 .info-cards {
    grid-template-columns: 320px 320px;
    padding: 0 50px;
    justify-items: center;
    justify-content: center;
    gap: 15px;
  }

  .info-block-3 .info-card {
    height: 235px;
    padding: 30px 59px 30px 20px;
    width: 100%;
    margin: 0 auto;
  }

  .info-block-3 .info-card:nth-child(1) {
    background: url(../img/about-mobile-1.png) center/cover no-repeat !important;
  }

  .info-block-3 .info-card:nth-child(2) {
    background: url(../img/about-mobile-2.png) center/cover no-repeat !important;
  }

  .info-block-3 .info-card:nth-child(3) {
    background: url(../img/about-mobile-3.png) center/cover no-repeat !important;
  }

  .info-block-3 .info-card:nth-child(4) {
    background: url(../img/about-mobile-4.png) center/cover no-repeat !important;
  }

  .info-block-3 .footer-title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .info-block-1 {
    background: url(../img/mobile-statistic-bg.png) center/cover no-repeat;
    border-radius: 0;
    padding: 65px 50px 0;
    background-size: 114%;
    background-position-y: 0;
  }

  .info-block-1 .title {
    font-size: 28px;
  }

  .info-block-1 .title span {
    display: block;
  }

  .info-block-1 .subtitle {
    margin-bottom: 60px;
  }

  .criteria-wrapper {
    padding: 30px 25px !important;
    margin: 0 auto 40px;
    width: 320px !important;
  }

  .criteria-list {
    grid-template-columns: 1fr !important;
    width: 100%;
    font-size: 16px;
  }

  .criteria-title {
    font-size: 16px;
    text-align: center;
  }

  .info-block-1 .info {
    justify-content: center;
    align-items: start;
  }

  .info-block-1 .info div {
    width: 245px;
    font-size: 16px;
  }

  .didnt-find .title {
    font-size: 28px;
    margin: 15px 0;
  }

  .didnt-find .info {
    font-size: 13px;
    margin-bottom: 43px;
  }

  .didnt-find {
    background: url(../img/didnt-hear-mobile-bg.png) top/cover no-repeat;
    position: relative;
    border-radius: 0;
    margin-bottom: 70px;
    padding-top: 50px;
    height: 414px;
    text-align: left;
  }

  .didnt-find-content {
    top: 50px;
    right: 50%;
    transform: translateX(50%);
    padding: 0;
    padding-left: 50px;
    width: 320px;
  }

  .didnt-find-content .info,
  .didnt-find-content .title {
    display: flex;
    justify-content: end;
  }

  .didnt-find-content .info img {
    width: 24.078px;
    margin-right: 10px;
  }

  .didnt-find-content .info div {
    width: 172px;
  }

  .didnt-find-content .select-specialist {
    display: none;
  }

  .didnt-find>.select-specialist {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 57px;
    width: 320px;
    height: 85px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(90deg,
        #58a4c3 0%,
        #97cce1 53.96%,
        #5ca5c5 100%);
    padding: 33px 30px;
    color: #fff;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    transform-style: preserve-3d;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 320px;
      height: 75px;
      flex-shrink: 0;
      left: 0;
      border-radius: 10px;
      background: #4e869f;
      top: 13px;
      transform: translateZ(-1px);
    }
  }

  .form .title {
    font-size: 28px !important;
    margin-bottom: 0;
  }

  .form .subtitle {
    font-size: 16px !important;
    margin-bottom: 24px;
  }

  .form .step .title {
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .step-input {
    height: 42px;
    border-radius: 5px;
    font-size: 10px;
  }

  .form .status-info {
    font-size: 10px;
  }

  .form .step-footer {
    flex-direction: column;
    justify-content: center;
  }

  .form .step-footer .btns {
    margin-top: 30px;
  }

  .step {
    margin-bottom: 70px;
  }

  .form .header .subtitle,
  .step-input {
    width: 100%;
    max-width: 100svw;
  }

  .step-footer .progress-wrapper {
    margin-right: 0;
  }

  .specialists-tabs,
  .specialists-all {
    display: none !important;
  }

  .specialist-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px;
    width: 100%;
    height: 42px;
    border-radius: 5px;
    background: #eaeaea;
    padding: 12px 20px 17px 20px;
    color: #4e869f;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 18.2px */
    cursor: pointer;
  }

  .specialists-arrows .dots {
    display: block;
  }

  .specialists-arrows .arrow {
    display: none;
  }



  .specialists .title {
    font-size: 28px;
  }

  .specialists .subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .specialists .specialists-list {
    margin: 0 auto 0 0 !important;
    overflow: hidden;
  }

  .info-block-4 {
    background: url(../img/questions-bg.png) center/cover no-repeat,
      #f2f0f1c4;
    background-position-y: 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 12px 35px 13px;
    margin: 0 auto 70px;
    width: calc(100svw - 23svw);
    height: 350px;
  }

  .info-block-4 .title {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .info-block-4 .subtitle {
    font-size: 16px;
    margin-bottom: 113px;
  }

  .info-block-4 .subtitle img {
    display: none;
  }

  .info-block-4 .subtitle .mobile {
    display: block;
    top: calc(100% + -9px);
    right: 20px;
  }

  .info-block-4 .info-socmedia-list {
    margin-bottom: 0;
  }

  .info-block-4 .info-text {
    font-size: 13px;
  }

  .info-block-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-block-5 .title {
    font-size: 28px;
    margin-bottom: 5px;
  }

  .info-block-5 .subtitle {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .info-block-5 .subtitle img {
    display: none;
  }

  .info-block-5 .icon-mobile {
    display: block;
  }

  .info-block-5 .rate-card {
    padding: 32px 10px 31px 35px;
    flex-direction: column;
    width: 320px;
    align-items: start;
    margin-bottom: 302px;
  }

  .info-block-5 .rate-title {
    font-size: 25px;
  }

  .info-block-5 .rate-title-wrapper img {
    width: 96.15px;
  }

  .info-block-5 .rate-main {
    display: none;
  }

  .info-block-5 .rate-main.mobile {
    display: block;
    font-size: 56.141px;
    margin-left: 10px;
  }

  .info-block-5 .rate-descr {
    font-size: 13px;
    margin: 1px 0 0 0;
    text-align: left;
  }

  .info-block-5 .rate-descr span {
    font-size: 13px;
  }

  .info-block-5 .recomedation-96-img,
  .info-block-5 .recomedation-img {
    display: none;
  }

  .info-block-5 .feedback {
    margin-bottom: 34px;
  }

  .info-block-5 .photo {
    display: none;
  }

  .info-block-5 .select-btn {
    position: relative;
    z-index: 2;
  }

  .info-block-5 .select-btn .photo-mobile {
    position: absolute;
    background: url(../img/rating-mobile.png) center/cover no-repeat;
    width: 459.498px;
    height: 333px;
    left: -120px;
    bottom: 48px;
    z-index: -1;
  }

  .sort-wrapper {
    flex-direction: column;
    margin-bottom: 32px;
    width: 100%;
  }

  .sort-wrapper .sort-title {
    font-size: 16px;
    align-self: flex-start;
    height: 42px;
    display: flex;
    align-items: center;
  }

  .sort-wrapper .sort-dropdown {
    font-size: 13px;
    width: 100%;
  }

  .reviews {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
    overflow: hidden;
  }

  .review-card {
    width: 320px;
    padding: 25px 25px 30px;
    flex-shrink: 0;
  }

  .review-card .name {
    font-size: 16px;
  }

  .review-card .subtitle {
    font-size: 10px;
  }

  .review-card .stars {
    width: 109px;
  }

  .review-card .text {
    font-size: 13px;
    margin-top: 15px;
    position: relative;
  }

  .review-card .text::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(181deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  }

  .review-card .show-more-btn {
    display: flex;
    align-items: center;
    width: 270px;
    height: 41px;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #4e869f;
    margin-top: 14px;
    color: #4e869f;
    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.39px;
    text-transform: uppercase;
  }

  .reviews-dots-mobile {
    display: block;
    height: 8px;
    margin: 30px auto 40px;
  }

  .reviews-footer {
    margin-bottom: 70px;
  }

  .reviews-footer .show-more {
    display: none;
  }

  .rating {
    background: none;
    padding: 0 50px 0;
    box-shadow: none;
    margin-bottom: 70px;
  }

  .rating .title {
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center;
  }

  .rating .subtitle {
    font-size: 16px;
    margin-bottom: 29px;
    text-align: center;
  }

  .rating .cards {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .rating .card {
    width: 320px;
    flex-shrink: 0;
    padding: 20px 20px 25px 26px;
  }

  .rating .card .header {
    margin-bottom: 35px;
  }

  .rating .header .logo {
    width: 71.111px;
    height: 71.111px;
    margin-right: 17px;
  }

  .rating .card .header .star {
    width: 28.444px;
    height: 28.444px;
    margin-right: 6px;
  }

  .rating .card .header .rate {
    font-size: 40px;
  }

  .rating .card .header .from {
    font-size: 16px;
  }

  .rating .card .header .link {
    font-size: 16px;
    margin-top: 8px;
  }

  .rating .card .text {
    font-size: 13px;
  }

  .history {
    padding: 55px 50px 0;
    background-size: auto 600px;
    background-position-y: 0;
    position: relative;
    margin-bottom: 70px;
  }

  .history .content {
    margin-left: 0;
    max-width: 100%;
  }

  .history .title {
    font-size: 28px;
    width: 155px;
    margin: 0 0 519px auto;
  }

  .history .text-wrapper {
    position: absolute;
    left: 50%;
    top: 338px;
    transform: translate(-50%);
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 20px 30px 25px;
    height: 322px;
  }

  .history .text-wrapper .text {
    padding: 0 20px 0 0;
    height: 262px;
    overflow: auto;
    scroll-padding-right: 20px;
    margin-bottom: 0;
    font-size: 13px;
  }

  .history .info-cards {
    width: 100%;
    justify-content: center;
  }

  .history .info-card {
    background: none;
    box-shadow: none;
    padding: 0;
  }

  .history .info-card img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-right: 12px;
  }

  .history .info-cards {
    grid-template-columns: max-content max-content;
    gap: 43px;
  }

  .faq .faq-card.active {
    padding: 15px 25px 16px;
    border-radius: 10px;
  }

  .faq .faq-card {
    padding: 15px 25px;
  }

  .faq .title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .faq-card .faq-title {
    font-size: 16px !important;
  }

  .faq .faq-card.active .faq-card-header {
    margin-bottom: 15px;
  }

  .faq .faq-card .faq-card-header img {
    width: 38.184px;
    height: 38.184px;
    flex-shrink: 0;
    margin: 0;
  }

  .faq .faq-card.active .faq-card-header img {
    margin: 0;
    width: 48.184px;
    height: 48.184px;
  }

  .faq .faq-card .divider {
    margin-bottom: 15px;
  }

  .faq .text {
    font-size: 13px;
  }

  .faq {
    margin-bottom: 70px;
  }

  .about {
    margin-bottom: 77px;
  }

  .about .title {
    font-size: 28px;
    margin-bottom: 22px;
  }

  .about .list {
    margin-bottom: 0;
  }

  .about .list img {
    height: 20px;
  }

  .articles .title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .articles .articles-list {
    justify-content: start;
    gap: 14px;
    margin-bottom: 30px;
  }

  .articles .article-card {
    width: 320px;
    padding: 17px 18px;
    flex-shrink: 0;
  }

  .articles .article-card .photo {
    height: 157.877px;
    margin-bottom: 26px;
  }

  .articles .article-title {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .articles .footer {
    font-size: 12px;
  }

  .articles .footer img {
    width: 11.53px;
    height: 11.53px;
    margin-right: 6px;
  }

  .articles .show-more {
    display: none;
  }

  .articles .dots {
    display: block !important;
    height: 8px;
    margin: 0 auto;
  }

  .articles {
    margin-bottom: 70px;
  }

  .description .title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .description .text {
    font-size: 13px;
    margin-bottom: 0;
  }

  .description .show-more {
    display: none;
  }

  .description {
    margin-bottom: 70px;
  }

  footer.footer {
    padding: 60px 20px 59px;
  }

  footer.footer .content {
    font-size: 16px;
  }

  footer.footer .title {
    font-size: 25px;
  }

  footer.footer .col-title {
    font-size: 20px;
  }

  footer.footer .socmedias {
    gap: 15px;
  }

  footer.footer .socmedias img {
    width: 30px !important;
    height: 30px !important;
  }

  .serificates .prev-arrow,
  .serificates .next-arrow {
    display: none !important;
  }

  .serificates .title {
    font-size: 28px;
    margin-bottom: 11px;
  }

  .serificates .list {
    margin-bottom: 30px;
  }

  .serificates .list .card {
    width: 320px !important;
    height: 175px !important;
  }

  .serificates .dots {
    height: 8px;
  }

  .serificates .subtitle {
    display: flex;
  }

  .serificates .list .card {
    opacity: 0;
  }

  .serificates .slick-active,
  .serificates .slick-current {
    opacity: 1 !important;
  }
}

@media (max-width: 900px) {
  .sertificates-normal .arrows {
    display: none;
  }

  .swiperSertificates-pagination {
    margin-top: 0 !important;
  }

  .help-list .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;
    padding-bottom: 50px;
    padding: 0 20px;
  }

  .help-list .dots {
    display: block;
    width: 106.717px;
    height: 8px;
    margin: 0 auto 70px;
  }

  footer.footer .content {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }

  footer.footer .title {
    margin-bottom: 30px;
  }

  footer.footer .col {
    gap: 12px !important;
  }

  footer.footer .col {
    margin-bottom: 30px;
  }

  .socmedias-wrapper {
    display: none !important;
    margin-bottom: 0 !important;
  }

  .footer-card {
    margin-top: 30px;
  }

  footer.footer .company-card {
    margin-top: 30px;
  }

  .socmedias-mobile {
    display: block !important;
    margin-bottom: 30px !important;
  }

  .socmedias-mobile .col-title {
    margin-bottom: 15px;
  }

  footer.footer .contacts {
    gap: 0 !important;
  }

  footer.footer .email {
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
  .info-block-3 .info-cards {
    grid-template-columns: 320px;
  }

  .history .info-title {
    font-size: 25px;
  }

  .history .info-card .text {
    font-size: 10px;
    margin-top: 10px;
  }
}

@media (min-width: 900px) {
  .help-list .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 40px;
    padding-bottom: 50px;
    width: 100%;
    // overflow: hidden;
  }

  .mobile-descr {
    display: none !important;
  }
}

@media (min-width: 769px) and (max-width: 899px) {
  .help-list .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 20px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 767px;
    margin-left: auto;
    margin-right: auto;
    // overflow: hidden;
  }
}

@media (min-width: 769px) {
  .mySwiper {
    overflow: visible !important;
  }
}

@media (max-width: 768px) {
  .mySwiperSpecialists {
    .swiper-slide {
      min-width: 300px;

      .specialists .specialist-card {
        min-width: 300px;
      }
    }
  }

  .help-list .cards {
    gap: unset;
    padding: 0;
  }

  .help-list .show-more {
    display: none;
  }

  .help-list .help-card.hide-card {
    display: flex;
  }

  .help-list .cards-container {
    padding-bottom: 108px;
  }

  .mySwiper {
    // width: 100%;
    // max-width: 768px;
    overflow: hidden;

    .swiper-wrapper {
      max-height: 610px;
      padding-bottom: 40px;

      .swiper-slide {
        height: ~"calc((100% - 10px) / 4)" !important;
      }
    }

    .swiper-pagination {
      bottom: -7px !important;


      .swiper-pagination-bullet {
        background: #D8DDE2;
        width: 8px;
        height: 8px;
        border-radius: 0;
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background: #4E869F;
        width: 8px;
        height: 8px;
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .hero-text-mobile .mobile-steps {
    font-size: 11px;
  }

  .hero {
    margin-bottom: 75px;
    background: url(../img/hero-bg-mb.png) center/contain no-repeat;
  }

  .info-block-2 {
    background: url(../img/info-block-2.png) left/contain no-repeat;
    background-size: 383px;
    background-position-y: 384px;
    background-position-x: -62px;
  }

  .history {
    padding: 55px 50px 0;
    background-size: auto 381px;
    background-position-y: 0;
    position: relative;
  }
}

@media (max-width: 480px) {
  .mySwiperSertificates .swiper-wrapper .swiper-slide-active {
    transform: translateZ(0);
  }

  .sertificates-normal {
    padding: 0 50px;
  }
}

// NORMALBREAKPOINTS
@media (min-width: 768px) and (max-width: 1200px) {
  .wrapper-container footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec-generalquestions .container-item {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sec-generalquestions .container-item form .mainlabel-items {
    flex-direction: column;
    gap: 30px;
  }

  .sec-generalquestions .container-item form .main-label.parent-checkboxes .mainlabel-checkboxitem .checkbox-container {
    gap: 20px;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .tabs-dropdown {
    flex-direction: column;
    align-items: flex-start;
  }

  .tab-dropdown {
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .sec-generalquestions .container-item form .mainlabel-items {
    flex-direction: column;
  }

  .sec-generalquestions .container-item {
    padding-left: 50px;
    padding-right: 50px;
  }

  .sec-generalquestions {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  .sec-generalquestions .container-item form .main-label.parent-checkboxes .mainlabel-checkboxitem .checkbox-container {
    flex-direction: column;
  }

  .sec-generalquestions .container-item form .main-label .radio-items .container-radio {
    width: 50%;
  }

  .wrapper-container footer .container {
    flex-direction: column;

    .footer-logo {
      margin-right: 0;
      margin-bottom: 10px;
      font-size: 18px;
    }

    .years {
      font-size: 16px;
    }

    .socials {
      margin-left: 0;
      margin-top: 25px;
    }
  }

  .sec-generalquestions .container-item .title h2 {
    font-size: 28px;
    text-align: center;
  }

  .sec-generalquestions .container-item form .main-label {
    font-size: 16px;
  }

  .sec-generalquestions .container-item form .main-label input {
    height: 42px;
    margin-top: 0;
    font-size: 10px;
    padding-left: 20px;
  }

  .sec-generalquestions .container-item form .main-label .radio-items {
    margin-top: 0;
  }

  .sec-generalquestions .container-item form .main-label .input-descr {
    font-size: 10px;
    margin-top: 10px;
  }

  .sec-generalquestions .container-item form .mainlabel-items .mainlabel-item .radio-items .container-radio,
  .sec-generalquestions .container-item form .main-label .radio-items .container-radio {
    height: 45px;
    padding-left: 50px;
    font-size: 13px;
  }

  .sec-generalquestions .container-item form .mainlabel-items .radio-items .container-radio .checkmark-radio,
  .sec-generalquestions .container-item form .main-label .radio-items .container-radio .checkmark-radio {
    left: 19px;
    width: 19px;
    height: 19px;
  }

  .container-radio input:checked~.checkmark-radio,
  .checkmark-radio,
  .container-radio input:checked~.checkmark-radio {
    background-size: contain;
  }

  .sec-generalquestions .container-item form .mainlabel-items .radio-items,
  .sec-generalquestions .container-item form .main-label .radio-items {
    gap: 19px;
  }

  .sec-generalquestions .container-item form .mainlabel-items .mainlabel-item {
    font-size: 16px;
  }

  .sec-generalquestions .container-item form .mainlabel-items .radio-items {
    margin-top: 0;
  }

  .sec-generalquestions .container-item form .mainlabel-items #childlabel {
    margin-top: 0;
  }

  .sec-generalquestions .container-item form .mainlabel-items #childlabel {
    font-size: 10px;
  }

  .sec-generalquestions .container-item form .mainlabel-items #childlabel input {
    height: 42px;
    margin-right: 10px;
    width: 45%;
    font-size: 10px;
    padding-left: 20px;
  }

  .sec-generalquestions .container-item form .main-label.parent-checkboxes .mainlabel-checkboxitem .checkbox-container {
    margin-top: 0;
  }

  .sec-generalquestions .container-item form .main-label.parent-checkboxes .mainlabel-checkboxitem .checkbox-container .container-checkbox {
    font-size: 10px;
    padding-left: 28px;
  }

  .checkmark-checkbox {
    width: 17px;
    height: 17px;
  }

  .container-checkbox {
    margin-top: 11px;
  }

  .sec-generalquestions .container-item form .main-label .password-container .placeholder {
    font-size: 10px;
    width: 90%;
  }

  .sec-generalquestions .container-item form .main-label {
    margin-top: 20px;
    padding-bottom: 10px;
    border: 0;
  }

  .sec-generalquestions .container-item form .mainlabel-items {
    gap: 14px;
    padding-bottom: 10px;
    border: 0;
  }

  .sec-generalquestions .container-item form button {
    margin-top: 68px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .wrapper-container-signin footer {
    padding: 30px 0 40px;
  }

  .wrapper-container-signin footer .container {
    flex-direction: column;
  }

  .wrapper-container-signin footer .footer-logo {
    margin: 0 0 10px;
  }

  .wrapper-container-signin footer .container .socials {
    margin-left: 0;
    margin-top: 25px;
  }

  .wrapper-container-signin .main-content .container .btn-signin {
    height: 60px;
    max-width: 220px;
    color: #4E869F;
    text-align: center;
    font-family: Raleway;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.33px;
    text-transform: uppercase;
    background: #fff;
    margin-top: 30px;
  }

  .wrapper-container-signin .main-content .container .title {
    margin: 25px auto 20px;
  }

  .wrapper-container-signin .main-content .container .form-window {
    max-width: 320px;
  }

  .wrapper-container-signin .main-content .container .form-window .form-content {
    padding: 28px 48px;
  }

  .wrapper-container-signin .main-content .container .form-window .form-content form label .input input {
    height: 58px;
    font-size: 11px;
  }

  .wrapper-container-signin .main-content .container .form-window .form-content form label {
    font-size: 11px;
  }

  .wrapper-container-signin .main-content .container .form-window .tabs .tab,
  .wrapper-container-signin .main-content .container .form-window .form-content form .signin-text a,
  .wrapper-container-signin .main-content .container .form-window .form-content form .signin-text span,
  .wrapper-container-signin .main-content .container .form-window .form-content form a {
    font-size: 8px;
  }

  .wrapper-container-signin .main-content .container .form-window .form-content form button {
    height: 60px;
    font-size: 11px;
  }

  .wrapper-container-signin .main-content .container .title span {
    font-size: 28px;
  }

  .wrapper-container-signin .main-content {
    padding-bottom: 50px;
  }

  // 
  .wrapper-container-signin .main-content .container .changepassword-form .form-content form label span {
    font-size: 14px;
  }

  .wrapper-container-signin .main-content .container .changepassword-form .form-content form label span {
    margin-bottom: 5px;
  }

  .wrapper-container-signin .main-content .container .changepassword-form .form-content form .signin-text {
    margin-top: 15px;
  }

  .wrapper-container-signin .main-content .container .changepassword-form .form-content form .signin-text p a,
  .wrapper-container-signin .main-content .container .changepassword-form .form-content form .signin-text p {
    font-size: 8px;
  }

  .wrapper-container-signin .main-content .container .form-window .tabs .tab {
    height: 40px;
  }

  .wrapper-container-signin .main-content .container .form-window .form-content .done-content span {
    font-size: 18px;
  }

  .wrapper-container-signin .main-content .container .form-window .form-content .done-content a {
    margin-top: 73px;
    font-size: 11px;
    height: 60px;
    margin-bottom: 80px;
  }

  .sec-generalquestions .container-item form .mainlabel-items {
    flex-direction: column;
  }

  .sec-generalquestions .container-item {
    padding-left: 50px;
    padding-right: 50px;
  }

  .sec-generalquestions {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  .sec-generalquestions .container-item form .main-label.parent-checkboxes .mainlabel-checkboxitem .checkbox-container {
    flex-direction: column;
  }

  .sec-generalquestions .container-item form .main-label .radio-items .container-radio {
    width: 50%;
  }

  .wrapper-container footer .container {
    flex-direction: column;

    .footer-logo {
      margin-right: 0;
      margin-bottom: 10px;
      font-size: 18px;
    }

    .years {
      font-size: 16px;
    }

    .socials {
      margin-left: 0;
      margin-top: 25px;
    }
  }

  .sec-generalquestions .container-item .title h2 {
    font-size: 28px;
    text-align: center;
  }

  .sec-generalquestions .container-item form .main-label {
    font-size: 16px;
  }

  .sec-generalquestions .container-item form .main-label input {
    height: 42px;
    margin-top: 0;
    font-size: 10px;
    padding-left: 20px;
  }

  .sec-generalquestions .container-item form .main-label .radio-items {
    margin-top: 0;
  }

  .sec-generalquestions .container-item form .main-label .input-descr {
    font-size: 10px;
    margin-top: 10px;
  }

  .sec-generalquestions .container-item form .mainlabel-items .mainlabel-item .radio-items .container-radio,
  .sec-generalquestions .container-item form .main-label .radio-items .container-radio {
    height: 45px;
    padding-left: 50px;
    font-size: 13px;
  }

  .sec-generalquestions .container-item form .mainlabel-items .radio-items .container-radio .checkmark-radio,
  .sec-generalquestions .container-item form .main-label .radio-items .container-radio .checkmark-radio {
    left: 19px;
    width: 19px;
    height: 19px;
  }

  .container-radio input:checked~.checkmark-radio,
  .checkmark-radio,
  .container-radio input:checked~.checkmark-radio {
    background-size: contain;
  }

  .sec-generalquestions .container-item form .mainlabel-items .radio-items,
  .sec-generalquestions .container-item form .main-label .radio-items {
    gap: 19px;
  }

  .sec-generalquestions .container-item form .mainlabel-items .mainlabel-item {
    font-size: 16px;
  }

  .sec-generalquestions .container-item form .mainlabel-items .radio-items {
    margin-top: 0;
  }

  .sec-generalquestions .container-item form .mainlabel-items #childlabel {
    margin-top: 0;
  }

  .sec-generalquestions .container-item form .mainlabel-items #childlabel {
    font-size: 10px;
  }

  .sec-generalquestions .container-item form .mainlabel-items #childlabel input {
    height: 42px;
    margin-right: 10px;
    width: 45%;
    font-size: 10px;
    padding-left: 20px;
  }

  .sec-generalquestions .container-item form .main-label.parent-checkboxes .mainlabel-checkboxitem .checkbox-container {
    margin-top: 0;
  }

  .sec-generalquestions .container-item form .main-label.parent-checkboxes .mainlabel-checkboxitem .checkbox-container .container-checkbox {
    font-size: 10px;
    padding-left: 28px;
  }

  .checkmark-checkbox {
    width: 17px;
    height: 17px;
  }

  .container-checkbox {
    margin-top: 11px;
  }

  .sec-generalquestions .container-item form .main-label .password-container .placeholder {
    font-size: 10px;
    width: 90%;
  }

  .sec-generalquestions .container-item form .main-label {
    margin-top: 20px;
    padding-bottom: 10px;
    border: 0;
  }

  .sec-generalquestions .container-item form .mainlabel-items {
    gap: 14px;
    padding-bottom: 10px;
    border: 0;
  }

  .sec-generalquestions .container-item form button {
    margin-top: 68px;
  }

  .sec-personalquestions .container-item form .main-label .radio-items {
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px 20px;
  }

  .sec-personalquestions .container-item form .main-label .radio-items .container-radio {
    // max-width: 150px;
    padding-left: 51px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    word-break: break-all;
    flex: 0 0 46.8%;
    min-width: 150px;
    height: 45px;
  }

  .sec-personalquestions .container-item form .main-label .radio-items .container-radio .checkmark-radio {
    left: 19px;
    width: 19px;
    height: 19px;
  }

  .sec-personalquestions .container-item {
    padding-left: 50px;
    padding-right: 50px;
  }

  .sec-personalquestions .container-item form .selected-items .tabs-parentcontainer .tab-dropdown {
    display: none;
  }

  .sec-personalquestions .container-item form .main-label input {
    margin-top: 10px;
  }

  .sec-personalquestions .container-item form .main-label {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding-bottom: 30px;
    border: 0;
    margin-top: 0;
  }

  .sec-personalquestions .container-item form .main-label .radio-items .container-radio input {
    margin-top: 0;
  }

  .sec-personalquestions .container-item .title {
    margin-bottom: 20px;

    h2 {
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      text-align: center;
      line-height: 130%;
    }
  }

  .sec-personalquestions .container-item form .selected-items {
    padding-top: 0;
  }

  .sec-personalquestions .container-item form .selected-items .selected-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .sec-personalquestions .container-item form .selected-items .selected-descr {
    color: #676767;
    font-family: Raleway;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    line-height: 100%;
    margin-top: 10px;
    /* 450% */
  }
}